
@import url('vars.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    scroll-behavior: smooth !important;
}

section {
    /* width: 100vw; */
    max-width: 50%;
}

#main-container {
    position: relative;
    width: 100vw;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5.5rem;
    /* padding-top: 4rem; */
    margin-inline: auto;
    transition: all 0.3s ease-in-out;

    &.hidden {
        opacity: 0;
    }
}

#expanded-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    background-color: rgba(0,0,0,0.75);

    & #expanded-image-left-button, & #expanded-image-right-button, & #expanded-image-close-button {
        display: grid;
        place-items: center;
        /* position: absolute; */
        background-color: rgba(255,255,255,0.35);
        height: 45px;
        width: 45px;
        border-radius: 100px;
        cursor: pointer;

        & svg {
            color: white;
            stroke-width: 1;
        }
    }

    & #expanded-image-left-button {
        /* left: 2vw; */
    }

    & #expanded-image-right-button {
        /* right: 2vw; */
    }

    & #expanded-image-bottom {
        width: 100vw;
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    & #expanded-image-pager {
        display: grid;
        place-items: center;
        height: 45px;
        width: 5rem;
        background-color: rgba(255,255,255,0.35);
        color: white;
        border-radius: 100px;
    }
    
    & img {
        max-height: 80vh;
        max-width: 90vw;
        width: auto;
        height: auto;
        object-fit: contain;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

h1, h2, h3 {
    color: var(--primary-text-color);
    font-family: var(--sans-serif-font), serif;
    font-weight: 400;
    font-size: 4rem;
}

p, span {
    color: var(--primary-text-color);
    font-family: var(--sans-serif-font), sans-serif;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: var(--sans-serif-font), sans-serif;
    font-weight: 500;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    text-align: inherit;
}