
@import url('vars.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    scroll-behavior: smooth !important;
}

section {
    /* width: 100vw; */
    max-width: 50%;
}

#main-container {
    position: relative;
    width: 100vw;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5.5rem;
    /* padding-top: 4rem; */
    margin-inline: auto;
    transition: all 0.3s ease-in-out;

    &.hidden {
        opacity: 0;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

h1, h2, h3 {
    color: var(--primary-text-color);
    font-family: var(--sans-serif-font), serif;
    font-weight: 400;
    font-size: 4rem;
}

p, span {
    color: var(--primary-text-color);
    font-family: var(--sans-serif-font), sans-serif;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: var(--sans-serif-font), sans-serif;
    font-weight: 500;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    text-align: inherit;
}