/* #personal-info {
    position: fixed;
    width: 35%;
    max-width: calc(1300px * 0.35);
    height: 100vh;
    display: flex;
    left: 50%;
    margin-left: calc(-1300px / 2); 
    padding-block: 5rem;
} */

#personal-info {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex: 0.35;
    padding-block: 5rem;
}

#personal-info .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    /* justify-content: center; */
    height: 100%;
}

div#main-content {
    max-width: 800px;
    width: 100%;
    display: flexbox;
    /* flex: 1; */
    flex-flow: column nowrap;
    align-items: flex-start;
    /* justify-content: center; */

    & h1 {
        font-size: 3.5rem;
        background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
        font-weight: 500;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* margin-bottom: rem; */
    }

    & h2 {
        font-size: 1.5rem;
        color: var(--primary-text-color);
        margin-bottom: 1rem;
    }

    & p {
        font-size: 1.15rem;
        line-height: 1.75rem;

        & span {
            display: block;
            text-align: right;
        }
    }

    & p:not(:last-of-type) {
        margin-bottom: 0.75rem;
    }

    & div {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & p {
            color: var(--primary-color);
        }

        & svg { 
            color: var(--primary-color);
            stroke-width: 1.75px;
        }
    }

}

div#links {
    margin-top: 3rem;
    width: 100%;

    & ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 1.75rem;
        list-style: none;
    }

    & a {
        color: var(--primary-text-color);
        text-decoration: none;
        font-family: var(--sans-serif-font), sans-serif;
        font-weight: 500;
        font-size: 1.15rem;

        & svg {
            stroke-width: 1.5px;
            color: var(--primary-color);
            transition: color 0.3s ease;
        }

        &:hover {

            & svg {
                color: var(--hover-text-color);
            }   
        }
    }
}

button#cta {
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 0.5rem 0.75rem 0.5rem 1rem;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid var(--primary-color);
    overflow: hidden;

    &, & * {
        position: relative;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }

    &:hover {

        & span {
            color: var(--background-color);
        }

        & svg {
            transform: translateX(0);
            opacity: 1;
        }

        & div {
            transform: translateX(0);
        }

    }

    & span {
        color: var(--primary-color);
        font-family: var(--sans-serif-font), sans-serif;
        font-weight: 500;
        font-size: 1.15rem;
    }

    & div {
        position: absolute;
        z-index: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        transform: translateX(100%);
        border-radius: 100px;
    }

    & svg {
        width: 32px;
        aspect-ratio: 1 / 1;
        color: var(--background-color);
        stroke-width: 1.75px;
        transform: translateX(20px);
        opacity: 0;
        /* transition: 0.5s cubic-bezier(.67,-0.21,.6,1.78); */
    }
}