
@media (max-width: 500px) {

    .project-card {
        flex-flow: column nowrap !important;
    }

}

@media (max-width: 1024px) {
    
    #main-container {
        flex-direction: column;
        gap: 2rem;
        /* padding-inline: 0.25rem; */
    }

    section {
        max-width: 100%;
    }

    #personal-info {
        position: relative;
        width: 100%;
        height: 100dvh;
        display: block;
        padding-block: 1rem;
    }

    #scroll-container {
        display: block;
    }

}