
@media (max-width: 600px) {

    .project-card {
        flex-flow: column nowrap !important;
    }

}

@media (max-width: 1024px) {
    
    #main-container {
        flex-direction: column;
        gap: 0rem;
        /* padding-inline: 0.25rem; */
    }

    .project-card-thumbnail-container {
        height: 200px !important;
    }

    /* .project-modal-title {
        font-size: 2rem !important;
    } */

    section {
        max-width: 100%;
    }

    #personal-info {
        position: relative;
        width: 100%;
        height: 100dvh;
        display: block;
        padding-block: 1rem;
    }

    #links {
        margin-top: 2rem !important;

        & ul {
            gap: 1.5rem !important;
        }
    }

    #cta {
        margin-top: 0.5rem !important;
    }

    #scroll-container {
        display: block;
    }

    .project-header {
        flex-flow: column nowrap !important;
        justify-content: center !important;
        align-items: flex-start !important;
        gap: 0.5rem;

        & h1 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }

        & > p {
            margin-bottom: 0.5rem !important;
        }
    }

    #project-container:has(.project-card:hover) .project-card {
        opacity: 1 !important;
    }

     & .carousell {

        & img {
            max-height: 300px !important;
        }
    }

}