
#project-modal {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5; 
    z-index: 9999;
    background: var(--background-color);
    /* background: red; */
    width: 100%;
    height: 100dvh;
    /* height: auto; */
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    padding: 1.5rem 1rem 0 1rem;
    overflow-y: auto;
    overscroll-behavior: contain;
    transform: translateY(20px);

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    &, & * {
        transition: all 0.75s ease-in-out;
    }

    & .wrapper {
        max-width: 900px;
        min-height: 100dvh;
        padding: 0;
    }

    &.showing {
        visibility: visible;
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }

    & #modal-thumbnail-container {
        position: relative;
        width: 100%;
        aspect-ratio: 16 / 9;
        background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
        border-radius: 10px;
        margin-block: 0;
        overflow: hidden;
        border: 1px solid var(--accent-color);
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.10); */

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        & img:not([src]), & img[src=""] {
            display: none;
        }
    }

    & #project-modal-header {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: space-between;
        gap: 1.25rem;
        margin-block: 1.25rem 1.75rem;

        & #project-modal-actions {
            display: flex;
            gap: 1rem;
        }

        & a {
            display: flex;
            align-items: center;
            /* padding: 0.25rem 1rem; */
            /* border: 1px solid var(--secondary-text-color); */
            border-radius: 5px;
            gap: 3px;
            /* cursor: pointer; */

            &.unavailable {
                opacity: 0.25;
            }
        }

        & svg {
            stroke-width: 1.75px;
            height: 22px;
            width: 22px;
            /* color: var(--secondary-text-color); */
        }
    }

    & #project-modal-content {
        margin-block: 0 2rem;

        & #project-modal-tags {
            display: flex;
            justify-content: space-between;

            & > div {
                gap: 2rem;
            }

            & span:not(#project-modal-date) {
                padding: 0.25rem 0.75rem;
                /* background-color: var(--accent-color); */
                background-color: lightblue;
                border-radius: 100px;
            }

            & span#project-modal-date {
                color: var(--secondary-text-color);
            }
        }

        & #project-modal-about {
            margin-top: 1.25rem;
            
            & p {
                line-height: 1.75rem;
            }

            & p:not(:nth-child(1)) {
                margin-top: 1rem;
            }

        }
    }

    /* & div:not(.wrapper) {
        margin-block: 1.25rem !important;
    } */

    & h1 {
        font-size: 2.5rem;
    }

    & h2 {
        font-size: 1.75rem;
        margin-top: 2rem;
    }

    & button {
        background-color: var(--background-color);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        bottom: 0px;
        cursor: pointer;
        border-top: 1px solid var(--secondary-text-color);
        padding-block: 1rem 1.25rem;

        & span {
            font-size: 1.25rem;
        }

        & svg {
            color: var(--primary-text-color);
            width: 24px;
            height: 24px;
            stroke-width: 1.75px;
        }
    }
}

