
#scroll-container {
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 1;
}

#scrollable-nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-block: 1.75rem; 
    border-bottom: 1px solid var(--secondary-text-color);
    background-color: var(--background-color);
    z-index: 999;

    & ul {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    & a {
        color: var(--primary-text-color);
        text-decoration: none;
        font-family: var(--sans-serif-font), sans-serif;
        font-weight: 500;
    }
}

#scrollable {
    position: relative;
    overflow: hidden;
    /* padding-inline: 0.75rem;  */

    & > div:not(#project-modal) > div:has(h1) {
        display: flex;
        flex-flow: row nowrap;
        /* justify-content: space-between; */
        gap: 2rem;
        align-items: center;
        gap: 0.5rem;
        margin-top: 3.5rem;
        margin-bottom: 2.5rem;

        & h1 {
            font-size: 1.25rem;
            color: var(--secondary-text-color);
        }

        & svg {
            color: var(--secondary-text-color);
            height: 24px;
            width: 24px;
            stroke-width: 1.75px;
        }
    }
}


#about-container {
    width: 100%;
    height: min-content;
    margin-top: 2rem;
    /* background-color: var(--primary-text-color); */
    /* padding: 1.15rem 1.15rem; */
    border-radius: 10px;

    & p {
        /* color: var(--background-color); */
        font-size: 1.15rem;
        line-height: 2rem;
        text-align: justify;
    }

    & p:not(:last-of-type) {
        margin-bottom: 1.25rem;
    }
}

#project-container {
    width: 100%;

    &:has(.project-card:hover) .project-card {
        opacity: 0.5;
    }

    & .project-card:hover {
        opacity: 1 !important;
    }

    & .project-card {
        width: 100%;
        display: flexbox;
        flex-flow: row nowrap;
        gap: 1rem; 
        margin-bottom: 3.25rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        & * {
            transition: all 0.3s ease-in-out;
        }

        & img {
            background-color: gray;
            height: 100px;
            aspect-ratio: 16 / 9;
        }

        & h1 {
            font-size: 1.5rem;
        }

        & p {
            line-height: 1.5rem;
        }

        & .project-header {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }

        & .stack-list {
            display: flex;
            flex-flow: row wrap; 
            gap: 1rem;
            margin-top: 1.5rem;

            & div {
                font-family: var(--sans-serif-font), sans-serif;
                color: var(--secondary-text-color)
            }

            & .stack-divider {
                color: var(--secondary-text-color);
            }
        }
    }
}