
#scroll-container {
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 1;
}

#about-checkpoint {
    position: absolute;
    top: 0;
    left: 0;
}

#scrollable-nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-block: 1.75rem; 
    border-bottom: 1px solid var(--secondary-text-color);
    background-color: var(--background-color);
    z-index: 999;

    & ul {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    & a {
        color: var(--primary-text-color);
        text-decoration: none;
        font-family: var(--sans-serif-font), sans-serif;
        font-weight: 500;
    }
}

#about-container, /* does not work because it is at the top of the viewport */
#career-container,
#project-container {
    scroll-margin-top: 6rem;
}

#scrollable {
    position: relative;
    overflow: hidden;
    /* padding-inline: 0.75rem;  */

    & > div:not(#project-modal) > div:has(h1) {
        display: flex;
        flex-flow: row nowrap;
        /* justify-content: space-between; */
        gap: 2rem;
        align-items: center;
        gap: 0.5rem;
        margin-top: 3.5rem;
        margin-bottom: 2.5rem;

        & h1 {
            font-size: 1.25rem;
            color: var(--secondary-text-color);
        }

        & svg {
            color: var(--secondary-text-color);
            height: 24px;
            width: 24px;
            stroke-width: 1.75px;
        }
    }
}


#about-container {
    width: 100%;
    height: min-content;
    margin-top: 2rem;
    /* background-color: var(--primary-text-color); */
    /* padding: 1.15rem 1.15rem; */
    border-radius: 10px;

    & p {
        /* color: var(--background-color); */
        font-size: 1.15rem;
        line-height: 2rem;
        /* text-align: justify; */
    }

    & p:not(:last-of-type) {
        margin-bottom: 1.25rem;
    }
}

#project-container {
    width: 100%;

    &:has(.project-card:hover) .project-card {
        opacity: 0.5;
    }

    & .project-card:hover {
        opacity: 1 !important;
    }

    & .project-card {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        gap: 1rem; 
        margin-bottom: 3.25rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        /* background-color: red; */

        & * {
            transition: all 0.3s ease-in-out;
        }

        & h1 {
            font-size: 1.5rem;
        }

        & p {
            line-height: 1.5rem;
        }

        & .project-card-thumbnail-container {
            height: 100px;
            aspect-ratio: 16 / 9;
            border: 1px solid var(--accent-color);
            background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);           
            border-radius: 5px;
            overflow: hidden;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            & img:not([src]), & img[src=""] {
                display: none;
            }
        }

        & div:has(> .project-header) {
            flex: 1; 
        }

        & .project-header {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;

            & > p {
                padding: 0.15rem 0.75rem;
                /* background-color: var(--accent-color); */
                background-color: lightblue;
                border-radius: 100px;
            }
        }

        & .stack-list {
            display: flex;
            flex-flow: row wrap; 
            column-gap: 1rem;
            row-gap: 0.5rem;
            margin-top: 1.25rem;

            & div {
                font-family: var(--sans-serif-font), sans-serif;
                color: var(--secondary-text-color)
            }

            & .stack-divider {
                color: var(--secondary-text-color);
            }
        }
    }
}